.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000814; */
  background: rgb(0, 8, 20);
  background: radial-gradient(
    circle,
    rgba(152, 168, 167, 1) 10%,
    rgba(54, 78, 124, 1) 50%,
    rgba(34, 44, 81, 1) 80%
  );
}
