.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000814; */
  background: rgb(0, 8, 20);
  background: radial-gradient(
    circle,
    rgba(0, 8, 20, 1) 34%,
    rgba(0, 29, 61, 1) 89%,
    rgba(0, 53, 102, 1) 100%
  );
}
