.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000814; */
  background: rgb(0, 8, 20);
  background: radial-gradient(
    circle,
    #312429 10%,
    rgb(39, 52, 59) 40%,
    rgb(9, 14, 27) 80%
  );
}
