$item-count: 8;
$circle-size: 200px;
$item-size: 20px;

.container {
  // width: $circle-size;
  // height: $circle-size;

  // border: solid;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .connection {
    position: absolute;
    background-color: rgba(224, 233, 183, 255);
    width: 350px;
    height: 3px;
    z-index: 1;
    box-shadow: 0px 0px 20px 5px rgba(224, 233, 183, 255);
  }

  .outer-item-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    // background-color: rgb(158, 255, 215);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .item-container {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(175, 199, 197);
      box-shadow: 0px 0px 10px 2px rgb(8, 17, 62);
      color: #000814;
    }
  }
  :hover > .item-container {
    transition: all 0.5s;
    background-color: rgba(224, 233, 183, 255);
    transform: scale(3);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(224, 233, 183, 255);
    box-shadow: 0px 0px 30px 10px rgba(224, 233, 183, 255);
  }

  :hover {
    transition: all 0.5s;
  }

  .center-box {
    background-color: #e5e1da;
    color: rgb(9, 14, 27);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    transition: all 0.25s;
    box-shadow: 0px 0px 30px 10px #5a404b;
    z-index: 2;
  }
  .center-box:hover {
    box-shadow: 0px 0px 30px 10px rgb(199, 104, 82);
  }
}
